body {
    margin: 0;
    padding: 0;
    background-color: #13141c;
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
}

.main {
    height: 100dvh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.new {
    background-color: #55b725;
    border: none;
    color: white;
    padding: 4px 16px;
    border-radius: 6px;
    font-family: inherit;
    font-size: 12px;
    margin-bottom: 32px;
}

@media (max-width: 660px) {
    .main {
        justify-content: space-between;
    }
    .board .row .item {
        width: 50px !important;
        height: 50px !important;
    }

    .keyboard {
        margin-bottom: 64px;
    }
    .keyboard .row {
        margin-top: 4px;
        gap: 6px !important;
    }
    .keyboard .row .item {
        font-size: 14px !important;
        min-width: 32px !important;
        min-height: 48px;
    }
}

.board {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.board .row {
    display: flex;
    gap: 8px;
}

.board .row .item {
    background-color: #303436;
    width: 60px;
    height: 60px;
    border-radius: 8px;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row .item.correct {
    background-color: #55b725 !important;
}

.row .item.missplaced {
    background-color: #dac316 !important;
}
.row .item.wrong {
    background-color: #707070 !important;
}

.board .row .item p {
    font-weight: 200;
    padding: 0;
    margin: 0;
}

.keyboard {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 32px;
}

.keyboard .row {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.keyboard .row .item {
    padding: 12px;
    min-width: 48px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    color: white;
    background-color: #303436;
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}
